.buttonWrapper {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.buttonWrapper > button {
  background-color: #11A1BB;
  border: 1px solid #CCC;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
}

.buttonWrapper > button:hover {
  background-color: #14B5D2;
}
