.eventFilter {
  zoom: 1;
}

.fieldset {
  max-width: 90%;
  overflow-y: scroll;
  max-height: 200px;
  position: relative;
  margin-bottom: 30px;
}

.heading {
  font-weight: bold;
}

.input {
  max-width: 90%;
  border: 1px solid #CCC;
  margin-bottom: 30px;
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
}
