.detailsPage {
  max-width: 100%;
  padding: 15px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 30px;
}

.date {
  font-size: 2em;
  color: #999;
  font-weight: bold;
}

.type {
  font-size: 1.5em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .image {
    max-width: 480px;
    float: left;
    margin: 15px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 4em;
  }
}
