.eventListItem {
  cursor: pointer;
  position: relative;
  min-height: 100px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  width: 100%;
  line-height: 120px;
  padding: 0;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
}

.eventListItem:hover {
  background-color: #AEC6CF;
}

.innerWrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 110px;
  padding: 0.75em;
  line-height: normal;
  width: auto;
}

.title {
  font-size: 1em;
  margin-bottom: 5px;
}

.venue,
.date {
  display: block;
  font-size: 0.5em;
  color: #999;
}

.image {
  object-fit: contain;
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 10px;
  margin-top: 30px;
}

@media (min-width: 540px) {
  .inner-wrap {
    margin-left: 125px;
  }

  .title {
    font-size: 1.25em;
  }

  .venue,
  .date {
    font-size: 0.75em;
  }

  .image {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}
