.homeWrapper {
  position: relative;
}

.loadingWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
}

.filters {
  padding: 15px;
  font-size: 0.75em;
}

@media (min-width: 769px) {
  .filters {
    width: 250px;
    position: fixed;
  }

  .listing {
    margin-left: 270px;
  }
}
