/**
 * styles.css
 *
 * App container styles
 */

.header {
  position: fixed;
  width: 100%;
  background-color: #11A1BB;
  height: 85px;
  line-height: 85px;
  color: #FFF;
  font-size: 1.5em;
  margin-bottom: 30px;
  z-index: 1;
}

.author {
  float: right;
  font-size: 0.75em;
  display: none;
  margin-right: 10px;
}

.author a {
  color: white;
  text-decoration: none;
}

.author a:hover {
  text-decoration: underline;
}

.header > .container {
  padding-left: 15px;
}

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper > .container {
  padding-top: 100px;
}

@media (min-width: 480px) {
  .author {
    display: block;
  }
}
